@page "/"
@rendermode InteractiveServer
@using LuminaDiariesApp.Models

<PageTitle>Diary List</PageTitle>

<FluentCard AreaRestricted="false">
    <FluentInputLabel>Title</FluentInputLabel>
    <FluentTextField Required=true @bind-Value=title style="width: 100%;" />

    <FluentInputLabel>Content</FluentInputLabel>
    <FluentTextArea Required=true @bind-Value=content style="width: 100%;"/>

    <FluentInputLabel>Date</FluentInputLabel>
    <FluentDatePicker Required=true @bind-Value=date />

    <div>
        <FluentButton 
            Appearance="Appearance.Accent"
                      AriaLabel="To"
            OnClick=AddDiary
            Class="mt-3">
            Add
        </FluentButton>
    </div>

</FluentCard>

@foreach (var diary in diaries)
{
    <FluentCard Class="mt-3">
        <p>@diary.date.ToString("yyyy-MM-dd")</p>
        <p>@diary.title</p>
        <p>@diary.content</p>
    </FluentCard>
}

@code {
    private List<Diary> diaries = new();
    private string? title;
    private string? content;
    private DateTime? date = DateTime.Today;

    private void AddDiary()
    {
        if (!string.IsNullOrWhiteSpace(title) && !string.IsNullOrWhiteSpace(content)
        && date is not null)
        {
            diaries.Add(new Diary(title, content, date.Value));
            title = string.Empty;
            content = string.Empty;
            date = DateTime.Today;
        };
        return;
    }
}
